{% extends 'base.html.twig' %}
{% block title %}créer un article {% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <h1 class="text-center">créer un article ici !</h1>
            <div class="col-12 col-md-8 mx-auto">{{ form(form) }}</div>
        </div>
    </div>

{% endblock %}


