{% extends 'base.html.twig' %}
{% block title %}Erreur 404 : page introuvable !{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <img class="img-fluid my-3" src="{{ asset('img/404.jpg') }}" alt="Erreur 404 : page introuvable">
            </div>
        </div>
    </div>
{% endblock %}
